.DashboardContainer {
  padding: 1rem;
  width: auto;
  height: 100vh;
  box-sizing: border-box;
}

.topNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 47.5vw;
}

.filterBarContainer {
  width: 15vw;
  height: auto;
}

.topLine {
  width: 100%;
  height: 2px;
  background-color: #6e7f80;
  opacity: 0.3;
  margin-bottom: 2.5rem;
}

.viewContainer {
  display: grid;
  grid-template-columns: 35% 63%; /* Smaller containers 35%, larger containers 65% */
  grid-template-rows: repeat(2, 1fr); /* Two equal rows */
  gap: 1.5rem;
  width: 100%;
  height: calc(100% - 9rem);
  box-sizing: border-box; /* Ensures padding is included in width */
}

.smallRevenueContainer,
.largeExpenseContainer {
  position: relative; /* Enables layering with absolute elements */
  border-radius: 8px;
  overflow: hidden; /* Ensures background and content stay within bounds */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: rgba(250, 250, 250, 0.8);
}

.content {
  position: relative;
  z-index: 2; /* Places content above the BackgroundContainer */
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
