.topNav {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 1rem;
  position: sticky;
  top: 0;
  left: 5.9vw;
  width: calc(100vw - 5.9vw);
  background-color: #eccb34;
  z-index: 1000;
}

.topNav h1 {
  color: #fafafa;
  text-align: left;
  margin-left: 5rem;
}

.filterContainer {
  display: flex;
  justify-content: left;
  align-items: center;
}

.propertyBarContainer {
  margin-left: 10rem;
}
