.topNav {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 0 2rem;
}

.topNav h1 {
  text-align: left;
}

.filterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.propertyBarContainer,
.monthSelectionContainer {
  margin: 0 1rem;
}

.topLine {
  width: 100%;
  opacity: 0.3;
  margin-bottom: 2.5rem;
  border: 1px solid #6e7f80;
}
