.addPageContainer {
  padding: 2rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.filterBarContainer {
  width: 15vw;
  height: auto;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.contentContainer {
  display: flex;
  flex: 1;
}

.leftContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.productListContainer {
  flex: 1;
  padding: 2rem;
  background: transparent;
  border-radius: 8px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.buttonContainer {
  padding: 1rem 2rem;
  background-color: transparent;
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.buttonContainer button {
  min-width: 100px;
}

.pdfSection {
  display: inline-block;
}

.header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #2b2b2b;
  opacity: 0.9;
}

.header span:first-child {
  margin-left: 0.5rem;
}

.header span:nth-child(2) {
  margin-right: 2rem;
}

.listContainer {
  flex: 1;
  overflow-y: auto;
  padding-right: 10px;
  margin-bottom: 1rem;
  max-height: calc(100vh - 250px);
}

.productRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid rgba(110, 127, 128, 0.3);
  border-radius: 4px;
  background-color: transparent;
  margin-bottom: 0.5rem;
  min-height: 40px;
}

.productName {
  font-size: 0.9rem;
}

.amountInput {
  width: 60px;
  padding: 0.3rem;
  font-size: 0.9rem;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.maintenanceInput {
  width: auto;
  padding: 1rem;
  font-size: 0.9rem;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.rightContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.backgroundWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.maintenanceContainer {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}

.rightHeader {
  position: relative;
  z-index: 2;
  padding: 2rem;
  font-weight: bold;
  font-size: 1.2rem;
  color: #2b2b2b;
  text-align: center;
}

.rightContentContainer {
  position: relative;
  z-index: 2;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.categoryContainer,
.dateContainer,
.companyContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 7rem;
}

.categoryContainer span,
.dateContainer span,
.companyContainer span {
  font-weight: bold;
  color: #2b2b2b;
}

.optionBar {
  z-index: 2;
}
